.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-image: url('/assets/backgrounds/staticrainbow.svg');
  background-position-y: 0%;
  background-size: 100%;
  background-repeat: no-repeat;

  .videoContainer {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;

    .embed {
      iframe {
        border-radius: 20px 20px 0px 0px;
      }
    }

    .videoFooter {
      width: 100%;
      display: flex;
      gap: 30px;
      border-radius: 0px 0px 20px 20px;
      background: #0D0D0D;
      margin-top: -5px;

      .text {
        display: flex;
        flex-direction: column;
        padding: 25px 0px 25px 25px;
        gap: 25px;

        .title {
          font-size: 24px;
          font-weight: 700;
        }

        .description {
          line-height: 25px;
        }
      }

      .img {
        transform: translateY(15px);
        padding-right: 25px;
      }
    }
  }

  .buyContainer {
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 25px;

    .card {
      width: 350px;
      display: flex;
      flex-direction: column;
      padding: 15px 30px;
      gap: 15px;

      .titlePrice {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 20px;
        }

        .price {
          padding: 8px;
          border-radius: 100px;
          background: rgba(255, 255, 255, 0.1);
          transition: 0.2s;

          &:hover {
            box-shadow: 0px 0px 12px 0px rgba(65, 175, 255, 1);
          }
        }
      }

      .button {
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        transition: 0.4s;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 12px 0px rgba(65, 175, 255, 1);
        }
      }
    }
  }
}