.container {
  width: 100%;
  height: calc(100vh + 95px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    font-size: 36px;
    font-weight: 700;
  }

  .inputsContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .inputHTML {
        input {
          width: 100%;
          height: 36px;
          outline: none;
          border: 1px solid #303030;
          background: rgba(255, 255, 255, 0.03);
          border-radius: 30px;
          padding: 12px;
          font-size: 12px;
          font-weight: 400;
          color: #ffffff;
          font-family: 'Inter', sans-serif;
        }
      }

      .label {
        font-size: 12px;
        color: #F7F2EC;
      }
    }

    .button {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
      transition: 0.4s;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 12px 0px rgba(65, 175, 255, 1);
      }
    }

    .inputRow {
      width: 100%;
      display: flex;
      gap: 20px;
    }
  }
}