.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .title {
    font-weight: 120;
    font-size: 36px;
  }

  .cardsContainer {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    
    .card {
      width: 500px;
    }
  }
}